.buscarCanto{
   font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   text-align: center;
}

.buscadorForm {
   display: flex;
   justify-content: center;
   margin-bottom: 20px;
}

body {
   display: flex;
   flex-direction: column;
   align-items: center;
}

#buscadorForm {
   display: flex;
   justify-content: center;
   margin-bottom: 20px;
}
#query {
   width: 200px;
   margin-right: 10px;
}
#resultados {
   width: 50%;
   height: 150px;
}