.tabla-cantos {
   width: 80%;
   margin: 20px auto;
   border-collapse: collapse;
}

.buscarCanto {
   text-align: center;
   color: #003366; /* Azul oscuro */
   font-size: 30px;
   margin-top: 20px;
   font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.tabla-cantos th, .tabla-cantos td {
   border: 1px solid #003366; /* Borde azul oscuro */
   padding: 10px;
   text-align: left;
}

.tabla-cantos th {
   background-color: #003366; /* Fondo azul oscuro */
   color: #ffffff; /* Texto blanco */
}

.tabla-cantos td a {
   color: #003366; /* Texto azul oscuro */
   text-decoration: none;
}

.tabla-cantos td a:hover {
   text-decoration: underline;
}

.tono{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 15px;
   font-weight: bold;
   text-align: right;
}

button {
   background-color: #003366; /* Azul oscuro */
   color: white;
   border: none;
   padding: 10px 15px;
   text-align: left;
   text-decoration: none;
   display: inline-block;
   font-size: 10px;
   margin: 4px 2px;
   cursor: pointer;
   border-radius: 3px;
   transition: background-color 0.3s ease;
}

button:hover {
   background-color: #00509e; /* Azul más claro al pasar el ratón */
}