body {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: #f0f4f8; /* Fondo gris claro */
   font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   margin: 0;
   padding: 0;
   height: 100vh;
}

.tabla-cantos {
   width: 100%; /* Asegura que la tabla ocupe todo el ancho */
   margin: 20px auto;
   border-collapse: collapse;
   overflow-x: auto; /* Habilita el scroll horizontal */
   display: block; /* Permite el scroll horizontal */
}

.buscarCanto {
   text-align: center;
   color: #003366; /* Azul oscuro */
   font-size: 30px;
   margin-top: 20px;
}

.tabla-cantos th, .tabla-cantos td {
   border: 1px solid #003366; /* Borde azul oscuro */
   padding: 10px;
   text-align: center;
   white-space: nowrap; /* Evita que el texto se rompa en varias líneas */
}

.tabla-cantos th {
   background-color: #003366; /* Fondo azul oscuro */
   color: #ffffff; /* Texto blanco */
}

.tabla-cantos td a {
   color: #003366; /* Texto azul oscuro */
   text-decoration: none;
}

.tabla-cantos td a:hover {
   text-decoration: underline;
}

.tono {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 15px;
   font-weight: bold;
   text-align: right; /* Alinea el texto a la derecha */
   width: 100%; /* Ocupa todo el ancho */
   padding-right: 20px; /* Añade un poco de espacio a la derecha */
}

button {
   background-color: #003366; /* Azul oscuro */
   color: white;
   border: none;
   padding: 10px 15px; /* Tamaño del botón */
   text-align: right;
   text-decoration: none;
   display: inline-block;
   font-size: 14px; /* Tamaño del texto */
   margin: 4px 2px;
   cursor: pointer;
   border-radius: 3px;
   transition: background-color 0.3s ease;
   position: relative;
   left: 10px; /* Mueve el botón 10 píxeles hacia la izquierda */
}

button:hover {
   background-color: #00509e; /* Azul más claro al pasar el ratón */
}

@media (max-width: 600px) {
   .tabla-cantos {
      width: 100%; /* Asegura que la tabla ocupe todo el ancho en móviles */
      display: block; /* Permite el scroll horizontal */
      overflow-x: auto; /* Habilita el scroll horizontal */
   }

   .tabla-cantos th, .tabla-cantos td {
      padding: 8px; /* Reduce el padding en móviles */
      font-size: 12px; /* Reduce el tamaño de fuente en móviles */
   }

   button {
      font-size: 12px; /* Reduce el tamaño del texto del botón en móviles */
      padding: 8px 12px; /* Reduce el tamaño del botón en móviles */
   }
}