.titulo1{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 15px;
   text-align: left;
}

.titulo2{
   font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-size: 20px;
   text-align: center;
}

.titulo3{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   white-space: pre;
   font-size: 15px;
   text-align: center;
}

.titulo4 {
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: 15px;
   white-space: pre; /* Mantiene los espacios y saltos de línea */
   text-align: left;
}

.titulo5 {
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: 15px;
   white-space: pre; /* Mantiene los espacios y saltos de línea */
   text-align: center;
}

.color-azul{
   color: rgb(4, 130, 180);
}
.color-rojo{
   font-size: 15px;
   color: red;
}

button {
   background-color: #003366; /* Azul oscuro */
   color: white;
   border: none;
   padding: 10px 15px;
   text-align: left;
   text-decoration: none;
   display: inline-block;
   font-size: 10px;
   margin: 4px 2px;
   cursor: pointer;
   border-radius: 3px;
   transition: background-color 0.3s ease;
}

button:hover {
   background-color: #00509e; /* Azul más claro al pasar el ratón */
}

.tono{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 15px;
   font-weight: bold;
   text-align: right;
}
.nota{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: 12px;
   text-align: left;
   font-weight: bold;
}
.nota1{
   color: rgb(4, 130, 180);
   position: relative;
   left: -50px;
}
.nota2{
   color: rgb(4, 130, 180);
   position: relative;
   left: 10px;
}

.pie{
   text-align: center;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.pie-container {
   display: flex;
   justify-content: center; /* Centra el contenido horizontalmente */
   align-items: center;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.pie-container img {
   width: 50px; /* Ajusta el tamaño según tus necesidades */
   height: auto; /* Mantiene la proporción de la imagen */
   margin-right: 10px; /* Espacio entre la imagen y el texto */
}

.buscarCanto{
   font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   text-align: center;
}

.buscadorForm {
   display: flex;
   justify-content: center;
   margin-bottom: 20px;
}

#nota12 {
   position: relative;
   left: -90px;
}

#nota13 {
   position: relative;
   left: -25px;
}

#signo1 {
   position: relative;
   left: -25px;
}

#nota14 {
   position: relative;
   left: -25px;
}

#nota15 {
   position: relative;
   left: 0px;
}

#nota16 {
   position: relative;
   left: 20px;
}

#nota17 {
   position: relative;
   left: 65px;
}

#signo2 {
   position: relative;
   left: 65px;
}

#nota18 {
   position: relative;
   left: 65px;
}

#nota19 {
   position: relative;
   left: 85px;
}

#nota20 {
   position: relative;
   left: -25px;
}

#nota21 {
   position: relative;
   left: 65px;
}

#signo3 {
   position: relative;
   left: 65px;
}

#nota22 {
   position: relative;
   left: 65px;
}

#nota23 {
   position: relative;
   left: 80px;
}

#nota24 {
   position: relative;
   left: 90px;
}

#signo4 {
   position: relative;
   left: 90px;
}

#nota25 {
   position: relative;
   left: 90px;
}

#nota26 {
   position: relative;
   left: -30px;
}

#nota27 {
   position: relative;
   left: -10px;
}

#signo5 {
   position: relative;
   left: -10px;
}

#nota28 {
   position: relative;
   left: -10px;
}

#nota29 {
   position: relative;
   left: 0px;
}

#nota30 {
   position: relative;
   left: 15px;
}

#nota31 {
   position: relative;
   left: 30px;
}

#signo6 {
   position: relative;
   left: 30px;
}

#nota32 {
   position: relative;
   left: 30px;
}

#nota33 {
   position: relative;
   left: 40px;
}

#nota34 {
   position: relative;
   left: -90px;
}

#nota35 {
   position: relative;
   left: 20px;
}

#signo7 {
   position: relative;
   left: 20px;
}

#nota36 {
   position: relative;
   left: 20px;
}

#nota37 {
   position: relative;
   left: 25px;
}

#nota38 {
   position: relative;
   left: -100px;
}

#nota39 {
   position: relative;
   left: -30px;
}

#nota40 {
   position: relative;
   left: 10px;
}

#nota41 {
   position: relative;
   left: 70px;
}

#signo8 {
   position: relative;
   left: 70px;
}

#nota42 {
   position: relative;
   left: 70px;
}

#nota43 {
   position: relative;
   left: -75px;
}

#nota44 {
   position: relative;
   left: -10px;
}

#nota45 {
   position: relative;
   left: 40px;
}

#nota46 {
   position: relative;
   left: 50px;
}

#signo9 {
   position: relative;
   left: 50px;
}

#nota47 {
   position: relative;
   left: 50px;
}

#nota48 {
   position: relative;
   left: -90px;
}

#nota49 {
   position: relative;
   left: 20px;
}

#nota50 {
   position: relative;
   left: 45px;
}

#nota51 {
   position: relative;
   left: 50px;
}

#signo10 {
   position: relative;
   left: 50px;
}

#nota52 {
   position: relative;
   left: 50px;
}

#nota53 {
   position: relative;
   left: 70px;
}

#nota54 {
   position: relative;
   left: -70px;
}

#nota55 {
   position: relative;
   left: -10px;
}

#nota56 {
   position: relative;
   left: 20px;
}

#signo11 {
   position: relative;
   left: 20px;
}

#nota57 {
   position: relative;
   left: 20px;
}

#nota58 {
   position: relative;
   left: -85px;
}

#nota59 {
   position: relative;
   left: -55px;
}

#nota60 {
   position: relative;
   left: 30px;
}

#signo12 {
   position: relative;
   left: 30px;
}

#nota61 {
   position: relative;
   left: 30px;
}

#nota62 {
   position: relative;
   left: 50px;
}

#nota63 {
   position: relative;
   left: -95px;
}

#nota64 {
   position: relative;
   left: -55px;
}

#nota65 {
   position: relative;
   left: 30px;
}

#signo13 {
   position: relative;
   left: 30px;
}

#nota66 {
   position: relative;
   left: 30px;
}

#nota67 {
   position: relative;
   left: 50px;
}

#nota68 {
   position: relative;
   left: -15px;
}

#nota69 {
   position: relative;
   left: 0px;
}

#nota70 {
   position: relative;
   left: 20px;
}

body {
   background-color: white;
}

@media (max-width: 600px) {
   #query {
       width: 100%;
       font-size: 16px;
   }
}