.titulo1{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 15px;
   text-align: left;
}

.titulo2{
   font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-size: 20px;
   text-align: center;
}

.titulo3{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   white-space: pre;
   font-size: 15px;
   text-align: center;
}

.titulo4 {
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: 15px;
   white-space: pre; /* Mantiene los espacios y saltos de línea */
   text-align: left;
}

.titulo5 {
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: 15px;
   white-space: pre; /* Mantiene los espacios y saltos de línea */
   text-align: center;
}

.titulo6 {
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: 15px;
   white-space: pre; /* Mantiene los espacios y saltos de línea */
   text-align: center;
   font-weight: bold;
}

.color-azul{
   color: rgb(4, 130, 180);
}
.color-rojo{
   font-size: 15px;
   color: red;
}

button {
   background-color: #003366; /* Azul oscuro */
   color: white;
   border: none;
   padding: 10px 15px;
   text-align: left;
   text-decoration: none;
   display: inline-block;
   font-size: 10px;
   margin: 4px 2px;
   cursor: pointer;
   border-radius: 3px;
   transition: background-color 0.3s ease;
}

button:hover {
   background-color: #00509e; /* Azul más claro al pasar el ratón */
}

.tono{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 15px;
   font-weight: bold;
   text-align: right;
}
.nota{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: 12px;
   text-align: left;
   font-weight: bold;
}
.nota1{
   color: rgb(4, 130, 180);
   position: relative;
   left: -50px;
}
.nota2{
   color: rgb(4, 130, 180);
   position: relative;
   left: 10px;
}

.pie{
   text-align: center;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.pie-container {
   display: flex;
   justify-content: center; /* Centra el contenido horizontalmente */
   align-items: center;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.pie-container img {
   width: 50px; /* Ajusta el tamaño según tus necesidades */
   height: auto; /* Mantiene la proporción de la imagen */
   margin-right: 10px; /* Espacio entre la imagen y el texto */
}

.buscarCanto{
   font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   text-align: center;
}

.buscadorForm {
   display: flex;
   justify-content: center;
   margin-bottom: 20px;
}

#texto2 {
   position: relative;
   left: 40px;
}

#nota5 {
   position: relative;
   left: -220px;
}

#nota6 {
   position: relative;
   left: -130px;
}

#nota7 {
   position: relative;
   left: -100px;
}

#nota8 {
   position: relative;
   left: 150px;
}

#nota9 {
   position: relative;
   left: 250px;
}

#texto4 {
   position: relative;
   left: -10px;
}

#nota10 {
   position: relative;
   left: -210px;
}

#nota11 {
   position: relative;
   left: -150px;
}

#nota12 {
   position: relative;
   left: -115px;
}

#nota13 {
   position: relative;
   left: 210px;
}

#texto5 {
   position: relative;
   left: -130px;
}

#nota14 {
   position: relative;
   left: -240px;
}

#nota15 {
   position: relative;
   left: -170px;
}

#nota16 {
   position: relative;
   left: -155px;
}

#texto6 {
   position: relative;
   left: -55px;
}

#nota17 {
   position: relative;
   left: -235px;
}

#nota18 {
   position: relative;
   left: -190px;
}

#nota19 {
   position: relative;
   left: -160px;
}

#texto8 {
   position: relative;
   left: 5px;
}

#nota20 {
   position: relative;
   left: -190px;
}

#nota21 {
   position: relative;
   left: 122px;
}

#nota22 {
   position: relative;
   left: 195px;
}

#nota23 {
   position: relative;
   left: 230px;
}

#nota24 {
   position: relative;
   left: -75px;
}

#nota25 {
   position: relative;
   left: -75px;
}

#signo1 {
   position: relative;
   left: -75px;
}

#nota26 {
   position: relative;
   left: -73px;
}

#nota27 {
   position: relative;
   left: -70px;
}

#nota28 {
   position: relative;
   left: 85px;
}

#nota29 {
   position: relative;
   left: 160px;
}

#nota30 {
   position: relative;
   left: 200px;
}

#texto11 {
   position: relative;
   left: 12px;
}

#texto13 {
   position: relative;
   left: 15px;
}

#texto15 {
   position: relative;
   left: -5px;
}

#nota31 {
   position: relative;
   left: -190px;
}

#nota32 {
   position: relative;
   left: 122px;
}

#nota33 {
   position: relative;
   left: 195px;
}

#nota34 {
   position: relative;
   left: 230px;
}

#nota35 {
   position: relative;
   left: -75px;
}

#nota36 {
   position: relative;
   left: -75px;
}

#signo2 {
   position: relative;
   left: -75px;
}

#nota37 {
   position: relative;
   left: -73px;
}

#nota38 {
   position: relative;
   left: -70px;
}

#nota39 {
   position: relative;
   left: 105px;
}

#nota40 {
   position: relative;
   left: 155px;
}

#nota41 {
   position: relative;
   left: 185px;
}

#texto16 {
   position: relative;
   left: -15px;
}

#nota42 {
   position: relative;
   left: -85px;
}

#nota43 {
   position: relative;
   left: 110px;
}

#nota44 {
   position: relative;
   left: 220px;
}

#nota45 {
   position: relative;
   left: 250px;
}

#texto18 {
   position: relative;
   left: -55px;
}

#texto20 {
   position: relative;
   left: 30px;
}

#texto22 {
   position: relative;
   left: 190px;
}

#texto23 {
   position: relative;
   left: 190px;
}

#nota46 {
   position: relative;
   left: -190px;
}

#nota47 {
   position: relative;
   left: -60px;
}

#nota48 {
   position: relative;
   left: 110px;
}

#nota49 {
   position: relative;
   left: 205px;
}

#nota50 {
   position: relative;
   left: 225px;
}

#nota51 {
   position: relative;
   left: -135px;
}

#nota52 {
   position: relative;
   left: 105px;
}

#nota53 {
   position: relative;
   left: 200px;
}

#nota54 {
   position: relative;
   left: 260px;
}

#nota55 {
   position: relative;
   left: 125px;
}

#nota56 {
   position: relative;
   left: 225px;
}

#nota57 {
   position: relative;
   left: 255px;
}

#nota58 {
   position: relative;
   left: 285px;
}

#nota59 {
   position: relative;
   left: 285px;
}

#nota60 {
   position: relative;
   left: 285px;
}

#nota61 {
   position: relative;
   left: 285px;
}

body {
   background-color: white;
}

@media (max-width: 600px) {
   #query {
       width: 100%;
       font-size: 16px;
   }
}