.titulo1{
   font-size: 15px;
   text-align: left;
}

:root{
   --stack-verdana: Verdana, Geneva, Tahoma, sans-serif;
   --stack-lucida: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   --azul: rgb(4, 130, 180);
}

/* aplicar pilas de fuente comunes */
body, .titulo1, .tono, .pie, .pie-container { font-family: var(--stack-verdana); }
.titulo2, .titulo3, .titulo4, .titulo5, .nota, .buscarCanto, .buscadorForm { font-family: var(--stack-lucida); }

.titulo2{
   font-size: 20px;
   text-align: center;
}

.titulo3{
   white-space: pre;
   font-size: 15px;
   text-align: center;
}

.titulo4 {
   font-size: 15px;
   white-space: pre; /* Mantiene los espacios y saltos de línea */
   text-align: left;
}

.titulo5 {
   font-size: 15px;
   white-space: pre; /* Mantiene los espacios y saltos de línea */
   text-align: center;
}

.color-azul{ color: var(--azul); }
.color-rojo{ font-size: 15px; color: red; }

button {
   background-color: #003366; /* Azul oscuro */
   color: white;
   border: none;
   padding: 10px 15px;
   text-align: left;
   text-decoration: none;
   display: inline-block;
   font-size: 10px;
   margin: 4px 2px;
   cursor: pointer;
   border-radius: 3px;
   transition: background-color 0.3s ease;
}

button:hover {
   background-color: #00509e; /* Azul más claro al pasar el ratón */
}

.tono{
   font-size: 15px;
   font-weight: bold;
   text-align: right;
}
.nota{
   font-size: 12px;
   text-align: left;
   font-weight: bold;
}

.pie{
   text-align: center;
}

.pie-container {
   display: flex;
   justify-content: center; /* Centra el contenido horizontalmente */
   align-items: center;
}
.pie-container img {
   width: 50px; /* Ajusta el tamaño según tus necesidades */
   height: auto; /* Mantiene la proporción de la imagen */
   margin-right: 10px; /* Espacio entre la imagen y el texto */
}

.buscarCanto{
   text-align: center;
}

.buscadorForm {
   display: flex;
   justify-content: center;
   margin-bottom: 20px;
}

#nota2 {
   position: relative;
   left: -40px;
}

#nota3 {
   position: relative;
   left: 0px;
}

#nota4 {
   position: relative;
   left: 45px;
}

#nota5 {
   position: relative;
   left: -70px;
}

#nota6 {
   position: relative;
   left: 20px;
}

#nota7 {
   position: relative;
   left: 95px;
}

#signo1 {
   position: relative;
   left: 95px;
}

#nota8 {
   position: relative;
   left: 95px;
}

#nota9 {
   position: relative;
   left: -70px;
}

#nota10 {
   position: relative;
   left: -5px;
}

#nota11 {
   position: relative;
   left: 30px;
}

#nota12 {
   position: relative;
   left: -45px;
}

#nota13 {
   position: relative;
   left: 10px;
}

#nota14 {
   position: relative;
   left: 50px;
}

#nota15 {
   position: relative;
   left: 80px;
}

body {
   background-color: white;
}

@media (max-width: 600px) {
   #query {
       width: 100%;
       font-size: 16px;
   }
}